<!DOCTYPE html>
<html lang="id">
<head>
  <!-- Theme Init: Dijalankan SEBELUM render untuk mencegah flash -->
  <script>
    (function(){
      var t=localStorage.getItem('kalimasada_theme');
      if(!t) t=window.matchMedia('(prefers-color-scheme: dark)').matches?'dark':'light';
      document.documentElement.setAttribute('data-theme',t);
    })();
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== 'undefined' ? title : 'Admin Panel' %></title>
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/css/theme.css?v=1" rel="stylesheet">
  
  
  
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <style>
    /* background handled by theme.css */
    .sidebar { min-height: 100vh; }
  </style>
  <script>
    (function() {
    var pKey = 'simple_reload_' + location.pathname;
    if (!sessionStorage.getItem(pKey)) {
        sessionStorage.setItem(pKey, 'true');
        window.location.reload();
    }
})();
    </script>

    <%- include('../partials/theme-head') %>
</head>
<body>

